.listContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  gap: 10px;
  background-color: rgb(251, 215, 221);
  margin-top: 20px;
}

.guestsContainer {
  list-style: none;
  width: 50%;
}

.guests {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

.guests:hover {
  background-color: rgb(254, 175, 189);
}

.deleteBtn {
  height: 30px;
  width: 100px;
  border: 2px solid rgb(250, 147, 181);
  border-radius: 10px;
  background-color: rgb(255, 238, 241);
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: rgb(253, 204, 212);
}
